<launch>
    <arg name="node_name"   default="fixposition_driver_ros1" doc="Node name"/>
    <arg name="config"      default="config.yaml"             doc="Configuration file to use"/>
    <arg name="launcher"    default=""                        doc="Launch node via this (node launch-prefix)"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find fixposition_driver_ros1)/launch/rosconsole_dev.conf"/>
    <node name="$(arg node_name)" pkg="fixposition_driver_ros1" type="fixposition_driver_ros1" output="screen" respawn="false" launch-prefix="$(arg launcher)">
        <rosparam command="load" file="$(find fixposition_driver_ros1)/launch/$(arg config)"/>
    </node>
</launch>
